<% if flash[:notice] %>
  $('div.span12').prepend('<div class="alert alert-success"><a class="close" data-dismiss="alert">×</a><div id="flash_notice"><%= flash[:notice] %></div></div>');
<% elsif flash[:error] %>
  $('div.span12').prepend('<div class="alert alert-error"><a class="close" data-dismiss="alert">×</a><div id="flash_notice"><%= flash[:error] %></div></div>');
<% end %>

$('span#vote_count_<%= @post.id %>').html('<%= @post.vote_score %> votes');